.font-500{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
}

.font-700{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
}

.font-900{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
}

body{
    font-size: 16px;
    background-color: hsl(225, 100%, 94%);
    padding: 10px;
}

.body-text h2{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.body-text p{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.card{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background: white;
    text-align: center;
}

.body-text .header-image{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.plan-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(248, 247, 247);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
}


.plan-container h4{
    text-align: left;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.plan-container p{
    text-align: left;
    margin-top: -15px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
}

.body-text .heading-paragraph{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    line-height: 1.5;
}

.plan-container a{
    margin-top: 40px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    margin-left: 20px;
    vertical-align: middle;
}

.plan-container img{
    margin-top: 20px;
    width: 20%;
    height: 20%;
    vertical-align: middle;
}

.proceed-btn{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    width: 100%;
    background-color: hsl(245, 75%, 52%);
    color: white;
    justify-content: center;
    box-shadow: 1px 5px 20px gray;
}

.proceed-btn:active,
.proceed-btn:link,
.proceed-btn:visited
{
    text-decoration: none;
}

.cancel-btn{
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    margin-top: 50px;
    color: hsl(224, 23%, 55%);
}

.button-footer{
    margin-top: 30px;
    margin-bottom: 30px;
}

.cancel-btn:link{
    text-decoration: none;
}

@media(min-width: 1440px){
body{
    padding-left: 600px;
    padding-right: 600px;
    padding-top: 200;
    padding-bottom: 200;
}
}